:root{
  --divider-color: #0030B9;
  --card-color: #3399ff;
  --aboutMeHeight: 300px;
  --workHeight: 1100px;
  --contactHeight: 300px;
  --textColor: #105B9B;
  --specialMargin: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}
/*_________________________________________________________________________*/


header{
  display: flex;
  background-color: #001F39;
  background-size: 100%;
  height: 170px;
  width: 100%;
}



#navbar{ /* mostly done */
  font-size: 2em;
  color: white;
  height: 100px;
  align-items: center;
  justify-content: end;
}

#navbar a{
  padding: 10px;
  flex-grow: 1;
  color: lightblue;
}

#navbar a:visited {
  color: lightblue;
}

#subheader{  /*mostly done */
  background-image: url("./images/header-image-2.jpg");
  background-size: cover;
  font-size: 2em;
  height: 100px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#subheader_subtitle{         /* mostly done */
  background-color: lightblue;
  color: white;
  padding: .1em 1em;
}


/*______________________________________________________________________________*/
/* Main Content Bellow*/

.mainRow{
  display: flex;
  flex: 1;
}

p{
  display: flex;
  padding-left: 100px;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.aboutMe{
  height: var(--aboutMeHeight);
  padding: 0 10px 0 0;
  flex-wrap: nowrap;
}

.contact{
  height: var(--contactHeight);
  padding: 0 10px 0 0;
  flex-wrap: nowrap;
}

.work{
  height: var(--workHeight);
  padding: 0 10px 0 0;
  justify-content: end;
  flex-wrap: nowrap;
}

.rightCol .work{
  flex-wrap: wrap;
}

.card{
  display:flex;
  flex-wrap: wrap;
  margin: 10px;
  flex: 1;
  border: solid 3px #2C3C4A;
  height: 150px;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("./images/placeholder.png");
  background-color: grey;
  opacity: 0.5;
}

#firstCard{
  flex-wrap: wrap;
  flex: 1;
  flex-basis: 100%;
  height: 400px;
}

.card:hover{
  opacity: 1;
}

.cardTag{
  background-color: lightblue;
  margin: 0;
  flex: 0 1 250px;
  height: 30px;
  flex-shrink: 0;
  padding-left: 10px;
  font-size: 30px;
  align-self: center;
  white-space: nowrap;
  align-items: center;
}