:root{
  --header-text-color: lightblue;
  --header-background-color: #001F39;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}
/*_________________________________________________________________________*/

header a:visited{ /* Keeps the link color the same*/
  color: var(--header-text-color);
}

#navbar {
  align-items: space-between;
  justify-content: space-between;
}